body {
    background: linear-gradient(#A5CFCE,#672497);
    font-family: 'Arial';
}

.flex {
    display: flex;
}


#formulario {
    background: linear-gradient(#A5CFCE,#672497);
    color: whitesmoke;
    margin: auto;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    width: auto;
    max-width: 700px;
    height: auto;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
}

.encabezadoForm {
    background: #672497;
    width: 100%;
    height: 30px;
    font-weight: bolder;

}

.resultadoForm {

    width: auto;
    height: auto;
    padding: 10px;

}

.lblResultados {
    color: #fff;
    width: 200px;
    margin: auto;
}

.lblDomicilio {
    color: #fff;
    width: 80px;
    margin: auto;
}

.inputDomicilio {
    color: black;
    margin: 10px;
    height: 20px;
    width: 270px;

}

.inputResultados {
    color:black;
    height: 20px;
    width: 356px;
}

.divInputs {
    width: auto;
    margin-top: 19px;
}
.btnLimpiar{
    border: none;
    background:#672497;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    width: 70px;
    height: 30px;
    margin-right: 1em;
    border-style:solid;
    border-color: black;
}
.btnBuscar {
    border: none;
    background:#A5CFCE;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    width: 70px;
    height: 30px;
    margin-right: 1em;
    border-style:solid;
    border-color:black;
}

.btnBuscar:hover {
    cursor: pointer;
    background-color: rgb(178, 178, 178);
    color: rgb(3, 29, 13);
    transition: all 0.35s;

}

#contenedor {
    margin-top: 50px;
    width: auto;
    height: auto;
}

small {
    text-decoration: underline;
    font-size: 14px;
    color: aliceblue;
}

.buscarForm {
    display: flex;
    width: 95%;
    height: 25px;
    padding: 20px;

}

.inputBuscar {
    margin-left: 2em;
    margin-right: 2em;
    height: 22px;
    width: 160px;
    border: 2px solid rgb(5, 5, 5);
    border-radius: .35em;
    background: transparent;

}

.labelBuscarId {
    position: absolute;
    margin-left: 80px;
    background-color: whitesmoke;
    z-index: 1;
    color: rgb(124, 124, 124);

}